.recherche{
    margin-left: 60px;
}
.nav{
    margin-left: 300px;
}
.nav1{
    margin-left: 700px;
}
#logo{
    margin-right: 40%;
    margin-bottom: 0%;
    width: 90px;
    
}
.stream-button{
    margin-left: 10px;
}