.main-header{
    background-image: url("../images/8.jpg");

    height: calc(95vh - 76px);
    display: flex;
    align-items: center;
    justify-content: center;
}
.main-header h1{
    font-size: 70px;
    font-weight: bold;
}
.main-header p{
    margin-top: 20px;
    font-size: 25px;
}
.main-header button{
    margin-top: 20px;
}
#title span{
    color: #ffaa00;
}
#title h1{
    color: white;
      
}
.moviecontainer1{
    display: flex;
    align-items: center;
}
.streamers h2{
    margin-left: 100px;
}
.home{
    margin-bottom: 600px;
}
.moviesection{
    margin-top: 100px;
}

.moviesection{
    max-width: 1000px;
    text-transform: uppercase;
    padding-left: 15%;
    color: white;
}

hr.rounded{
    border-top: 3px solid #ffaa00;
    border-radius: 5px;
    
}
.category-title{
    margin-left: 87%;
}
.movieimg .myimages{

    height: 280px;
    width: 350px;
    margin-bottom: 3%;

}
.movieimg .myimages img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
}
.movieimg{
    float: left;
    width: 30%;
    padding: 15px;
    max-width: max-content;
    padding-left: 5px;
}
.moviecontainer::after{
    content: "";
    clear: both;
    display: table;
}
.moviecontainer{
    height: max-content;
    width: max-content;
}